@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
  color: #1a202c;
}

h1, h2, h3 {
  color: #1a202c;
}

a {
  color: #4a5568;
}

ul li::before {
  content: "\\2022";
  color: #4a5568;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li {
  margin: 0.5em 0;
}

.container {
  max-width: 1200px;
}

/* Animations */
.mb-4 {
  animation: fadeInDown 0.5s ease-in-out;
}

/* Keyframes */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Header */
.header {
    background-color: #1a202c;
    color: #fff;
    padding: 2rem;
    text-align: center;
    }
    
    .header h1 {
    font-size: 3rem;
    margin: 0;
    }
    
    /* Contact Information */
    .contact {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    }
    
    .contact h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    }
    
    .contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .contact li {
    margin: 0.5rem 0;
    }
    
    .contact li a {
    color: #4a5568;
    }
    
    /* Education */
    .education {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    }
    
    .education h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    }
    
    .education p {
    margin: 0.5rem 0;
    }
    
    /* Internship Experiences */
    .internship {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    }
    
    .internship h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    }
    
    .internship h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
    }
    
    .internship p {
    margin: 0.5rem 0;
    }
    
    .internship ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .internship li {
    margin: 0.5rem 0;
    }
    
    .internship li::before {
    content: "\2022";
    color: #4a5568;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    }
    
    /* Media Queries */
    @media only screen and (min-width: 768px) {
    .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    }
    
    .container > * {
    width: calc(100% / 3);
    }
    
    .header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .header h1 {
    font-size: 5rem;
    }
    
    .contact {
    margin-right: 2rem;
    margin-bottom: 0;
    }
    
    .education {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    }
    }
    
    
    
    
